:root {
  --blue: #00a8bb;
  --green: #15c89b;
  --lightgreen: rgba(122, 221, 196, 0.44);
  --purple: #801c7c;
}

body {
  height: 100vh;
  background: linear-gradient(var(--green), var(--blue)), no-repeat;
  color: var(--purple);
  font-family: 'Oxygen', sans-serif;
  animation: appear 1s ease-in;
  margin:0;
  padding: 0;
  display:flex;
  flex-direction: column;
}
.nav {
  z-index: 10vh;
  min-width: 100%;
  height: 10%;
  background-color: var(--green);
  position: fixed;
  top:0;
  display:flex;
  justify-content: space-between;
}

.back_icon {
  height: 30px;
}

.container__back {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightgreen);
}

main {
  margin-top: 10vh;
  height:90vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr); 
}
.container__brand {
  grid-column: 3/4;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__logo {
  height: 8rem;
  width: 11rem;
  background-image: url('images/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.button {
  min-height: 2rem;
  width: 12rem;
  border-radius: 10px;
  border: 1px solid var(--purple);
  background-color: transparent;
  color: var(--purple);
  text-transform: lowercase;
  font-size: 1rem;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 5px var(--purple);
}

.button:active {
  outline: none;
  box-shadow: 0 0 5px var(--purple);
  transform: scale(1.05);
}

.link__tryMe {
  grid-column: 3/4;
  grid-row: 5/6;
  justify-self: center;
  align-self: center;
}

.button__tryme {
  height: 60px;
  width: 230px;
  font-size: 2rem;
}
.p__links {
  text-align: center;
  grid-column: 3/4;
  grid-row: 7/8;
}

.link,
.link:visited {
  color: var(--purple);
  font-size: 1.5rem;
  text-decoration: none;
}

.initial{
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color:#fafafa;
}
/************ signup/login ***********/
.title__signup,
.title__login {
  grid-column: 3/4; 
  grid-row: 2/3;
  text-align: center;
}
.container__form {
  grid-row: 1/8;
  grid-column: 3/4;
}

.form__signup, .form__login {
  max-width: 356px;
  background-color: rgba(122, 221, 196, 0.44);
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0 1rem;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  }

.login {
  grid-row: 3/6;
 }

.label {
  display: inline-block;
  margin: 5px;
  font-size: 1.2rem;
}
.input-text {
  min-width: 100%;
  line-height: 2rem;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  color: var(--purple);
}

.input-text:focus {
  outline: none;
  box-shadow: 0 0 5px var(--purple);
}

.error {
  font-size: 0.8rem;
  color: #fff;
  margin: 12px;
  align-self: center;
}

.error-on {
  margin: 0px;
  animation: appear 1s ease-in;
}

.container__checkbox {
  display: grid;
  grid-template-columns: 10% 40% 10% 40%;
  grid-template-rows: repeat(4, 25%);
  margin: 10px;
}

.regular-checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  height: 17px;
  width: 17px;
  border-radius: 3px;
}
.regular-checkbox:focus {
  outline: none;
}
.regular-checkbox:checked {
  background-color: var(--purple);
}

.container__button {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.container__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30%;
}
.title__login {
  margin-bottom: 5rem;
}
/**************** randomGift  ******************/
.container__message {
  grid-column: 2/5;
  grid-row: 2/3;
 }

.message{
  color: #fafafa;
  background-color: var(--purple);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}
.container__bird{
  border: 1.5px solid var(--purple);
  border-radius: 50%;
  height: 50px;
  width:50px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.bird{
  height: 40px;
  width: 40px;
}

.link__randomGift {
  grid-column: 2/5;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
 }
/**************** content  ******************/
.section__content {
  grid-column: span 5;
  grid-row: 1/-1;
  background-color: transparent;
  padding:5px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  max-height: 90%;
  width: 100%;
}

.content__articles {
  grid-column: 1/6;
  background-color:rgba(250, 250, 250, 0.845);
  animation: appear 1s ease-in;
  padding: 10px;
}

.section__content::-webkit-scrollbar {
  display: none;
}

.container__list{
  margin: 0;
  padding:0;
}

.list__item{
  list-style: none;
  margin-bottom: 5px;
}


.gift {
  animation: gift 7s infinite;
}

.img__giphy {
  margin-left: 5px;
  border-radius: 5px;
  animation: appear 1s ease-in;
}


.img__article {
  max-width: 100%;
}

.link__title,
.link_visited {
  text-decoration: none;
  color: var(--purple);
}

/****************** profile **********************/
.button__edit {
  grid-row: 2/3;
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
}
.container__user{
  grid-row: 2/3;
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.container__avatar{
  background-color: var(--lightgreen);
  border-radius:50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.container__likes{
  grid-row: 3/4;
  grid-column: 2/5;
  background-color: var(--lightgreen);
  height: 100px;
  min-width: 90%;
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px;
}
.link__logout {
  grid-row: 4/5;
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
}
.link__delete {
  grid-row: 5/6;
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
}
.button__edit{
  height: 50px;
  width: 80px;
}

/***************** error *****************/
.title {
  grid-row: 3/4;
  grid-column: 2/5;
 }

@keyframes gift {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 500px) {
 .container__form {
 width: 356px;
 }
 .content__articles {
   grid-column: 2/5;
   width: 500px;
   margin: 10px;
   flex-grow: 1;
  }
 .container__list {
   grid-column: 2/5;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
  }
 }