<div class="container__logo"></div>

  <a class="link" href="/try"><button id="button__tryMe" class="button button__tryme">Try Me</button></a>

<div class="container__blurb">
  <p>Do you reach for your phone first thing in the morning? Do you feel uninspired when you read the news? We want you to start your day with the good stuff!</p>
</div>


  <a class="link" href="/register+login">or Register/Log In</a>
