<h1>Allauda</h1>
<h2>Wake up to good stuff.</h2>
<p>Do you reach for your phone first thing in the morning? Do you feel uninspired when you read the news? We want you to start your day with positive stuff!!!</p>
<button id="button__tryMe">
  <a href="/try">Try Me</a>
</button>
<a href="/register">or click here to register/login</a>