<div class="container__brand">
  <div class="container__logo"></div>
  <h3>Start your day inspired!</h3>
</div>


<a class="link" href="/try">
  <button id="button__tryMe" class="button button__tryme">Try Me</button>
</a>

<p class="p__links"> or
  <a class='link' href="/signup">sign up </a>/
  <a class='link' href="/login">log in</a>
</p>