<div class="container__logo"></div>

  <a class="link" href="/try"><button id="button__tryMe" class="button button__tryme">Try Me</button></a>

  <a class="link" href="/register+login">or Register/Log In</a>
