<div class="container__editprofile">

    <button class="button button__profile button__edit">edit</button>

<div class="container__user">
<div class="container__avatar">
  <p class="initial">{{initial}}</p>
</div>
<p>{{username}}</p>
</div>

</div>


<div class="container__likes">
  I like: {{userLikes}}
</div>
<a href="/logout">
  <button class="button button__profile button__logout">logout</button>
</a>
<a href="/delete">
<button class="button button__delete">delete</button>
</a>
{{#if errorMessage}}
<p class="error">{{errorMessage}}</p>
{{/if}}
