
<button class="button button__edit">edit</button>
<div class="container__likes">
  I like: {{userLikes}}
</div>
<a href="/logout">
  <button class="button button__logout">logout</button>
</a>
<a href="/delete"></a>
<button class="button button__delete">delete</button>
</a>
{{#if errorMessage}}
<p class="error">{{errorMessage}}</p>
{{/if}}