{{> header}}

<div class="container__message" >
  <div class="container__bird">
    <img src="./images/bird.png"  class="bird" alt="">
  </div>
  
  <p class="message">
    Hello stranger! Here is your random morning gift. Please sign up in order to receive personalised content. Have a great day!
  </p>
</div>

<a id="link__randomGift" href="/randomContent">
  <img class="gift" src="./images/gift_white.svg" alt="click on gift">
</a>

{{!-- <dialog>Oops you need to be online to open your gift!</dialog> --}}