<nav>
  <button id="button__goBack">
    <a href="/"><i class="fas fa-arrow-circle-left"></i></a>
  </button>
</nav>
<p>I am the gift page</p>
<button id="button__randomGift"><a href="/randomContent">Gift</a></button>
<dialog>Oops you need to be online to open your gift!</dialog>