{{> header}}

<a id="link__randomGift" href="/randomContent">
  <img class="gift" src="./images/gift_white.svg" alt="click on gift">
</a>

<dialog>Oops you need to be online to open your gift!</dialog>