<section class="container__title">
  <h2>Sign up</h2>
  <p>for personalised content</p>
</section>


<section class="container__signup">
  <form class="form__signup" action="/signup" method="post" novalidate>
    <label class="label" for="username">Username</label>
    <br/>
    <input id="username" name="username" type="text" class="input-text signup__username" required autofocus> {{#if err}}
    <p class="error">{{err}}</p>
    {{/if}}
    <p id="username-err" class="error"> </p>
    <label class="label" for="password">Password</label>
    <br/>
    <input id="password" name="password" type="password" class="input-text signup__password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      required>
    <p id="password-err" class="error"></p>

    <label class="label" for="confirm-password">Confirm Password</label>
    <br/>

    <input id="confirm-password" name="confirmPassword" type="password" class="input-text signup__confirm-password" required>
    <p id="confirm-password-err" class="error"></p>

    <label class="label question" for="time">What time do you wake up?</label>
    <br/>
    <select class="timebox" id="time" name="wakeUpTime" required>
      <option value="">choose time</option>
      <option value="05:00">05:00</option>
      <option value="05:30">05:30</option>
      <option value="06:00">06:00</option>
      <option value="06:30">06:30</option>
      <option value="07:00">07:00</option>
      <option value="07:30">07:30</option>
      <option value="08:00">08:00</option>
      <option value="08:30">08:30</option>
      <option value="09:00">09:00</option>
      <option value="09:30">09:30</option>
      <option value="10:00">10:00</option>
      <option value="10:30">10:30</option>
      <option value="11:00">11:00</option>
      <option value="11:30">11:30</option>
      <option value="12:00">12:00</option>
      <option value="12:30">12:30</option>
      <option value="13:00">13:00</option>
    </select>
    <p id="time-err" class="error"></p>

    <br>
    </input>

    <label class="label question" for="like">Let us know what you like:</label>
    <br/>
    <div class="container__checkbox">
      <input class="regular-checkbox" type="checkbox" name="like" value="tech">Tech</input>
      <input class="regular-checkbox" type="checkbox" name="like" value="psychology">Psychology</input>
      <input class="regular-checkbox" type="checkbox" name="like" value="tech">Nature</input>
      <input class="regular-checkbox" type="checkbox" name="like" value="psychology">Space</input>
      <input class="regular-checkbox" type="checkbox" name="like" value="tech">Science</input>
      <input class="regular-checkbox" type="checkbox" name="like" value="psychology">Art</input>
      <input class="regular-checkbox" type="checkbox" name="like" value="tech">Travel</input>
      <input class="regular-checkbox" type="checkbox" name="like" value="psychology">Books</input>
    </div>


    <input type="submit" value="sign up" class="button"></input>
  </form>
</section>