
<div class="container__thankYou">
<h2>Thank you for signing up, {{user}} </h2>
<p>We will notify you tomorrow morning when your package full of good stuff is ready for you, so that you can start your day inspired!</p>
</div>
